
#wrapper {
    overflow-x: hidden; 
 }

#sidebar-wrapper { 
  /*min-height: 100vh;*/
  /*margin-left: -15rem;  */
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  
}

.sidebar-header{
    background-color: #E6AD0F;
}
.sidebar-header img{
    width: 210px;
    height: 100px;
    
}
.sidebar-header span{
    color: #fff;
}
.sidebar-menu{
    background-color:#345587 ;
    padding: 30px 5px;
   height: 340px;
}
.sidebar-menu .list-group {
  width: 15rem;
}
.sidebar-menu a{
    color: white;
    margin: 0 0 15px 25px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
}

.sidebar-menu a:hover{
    color:#E6AD0F;
    border-left: #E6AD0F solid 3px;
    text-decoration: none;
}
/*
.sidebar-menu a.active{
    color:#E6AD0F;
    border-left: #E6AD0F solid 3px;
    text-decoration: none;
}*/
.sidebar-footer{
    background-color:#E6AD0F;
    color: white;
}
#page-content-wrapper {
  width: calc(100% - 250px);
  background: #f3f3f3;
  margin-left: 250px; /* Same as the width of the sidebar */
}

.main-header{
    background-color: #345587;
    height: 50px;
}
.main-header h4{
    color: #fff;
}
.nav-item .nav-link {
    text-align: center;
    color: #E6AD0F;
}
.nav-item .nav-link p{
    font-size: 10px;
    color: #E6AD0F;
    padding: 0;
    margin: 0;
}

/*INDEX PAGE*/
.section1-box{
    background-color: #fff;
    border: #345587 solid .5px;
    border-bottom: #345587 solid 3px;
    margin: 20px;
}
.section1-box .col-lg-6{
    
    border-bottom: #e3e3e3 solid .5px;
    border-right: #e3e3e3 solid .5px;
}
.section1-box h1{
    color: #E6AD0F;
}
.form-inline .btn{
    background-color: #E6AD0F;
    color: #fff;
}
.form-inline .btn-search{
    background-color: #345587;
}
.table-head{
    border: #345587 solid 2px;
    border-bottom: #345587 solid 4px;
}
.table{
    background-color: #fff;
}

.table-strip th , .table-strip td{
    background-color: #E6F7FF;
}

.fa-edit{
    color: green;
}
.fa-trash-alt{
    color: red;
}
.section4-card{
    border: #345587 solid 2px;
    
}
.section4-card-title{
    padding: 10px;
    background-color: #E6AD0F;
    color: #fff;
}
.section4-card-title h2{
    text-align: center;
    font-size:18px;
}
.progress{
    margin-left: 30px;
    height: 2rem;
    font-size: 1.55rem;
}
.progress-bar{
    background-color: #FBE19A;
    color: #000;
    border-bottom: #FBBC0C solid 2px;
}
.progress-bar-less{
    background-color: #E6F7FF;
    color: #000;
    border-bottom: #41C2FF solid 2px;
}
.section4-table{
    background-color: #FBE19A;
    color: #000;
    border-bottom: #FBBC0C solid 3px;
}
.section4-table-strip{
    background-color: #E6F7FF;
    border-bottom: #41C2FF solid 3px;
    color: #000;
}
.section4-table td{
    padding: 15px;
}

/*---emp_mang.php--*/
.table-bordered td{
    cursor: pointer;
}
.addemployee .modal-content{
    background-color: #f3f3f3;
}
.addemployee .modal-header{
    background-color: #345587;
    color: #fff;
}

.addemployee .modal-header button{
    color: #fff;
}
.addemployee .modal-body h6{
    color: #345587;
    font-weight: bold;
}

.addemployee .modal-footer .btn{
    color: #fff;
    font-weight: bold;
}
.addemployee .modal-footer .btn-one{
    background-color: #FC904F;
    
}

.addemployee .modal-footer .btn-two{
    background-color: #345587;
}
.addemployee label{
    font-size: 12px;
    font-weight: bold;
    color:#345587 ;
    margin-right: 12px;
}
.addemployee input{
    font-size: 12px;
}

/*emp_profile.php*/

.emp_profile_section1_tab {
    margin: 0;
    padding: 0;
    color: #345587;
  
}
.emp_profile_section1_tab.active{
 
    border-bottom: #345587 solid 2px;
}
 .emp_profile_section2{
    border: #345587 solid 2px;
    background: #fff;
    display: none;
 }

 .emp_profile_section2_tab{
   
    display: none;
 }
 
.emp_profile_section1 .emp_profile_section1_btn.active{
    background: #fff;
    color: #345587;
}

.emp_profile_section1 .emp_profile_section1_btn:hover{
    background: #fff;
    color: #345587;
}

 .col-lg-9 .emp_profile_section1 {
    padding: 0; 
}
 .emp_profile_section1 h6,h4{
    color:#345587 ;
}
 .emp_profile_section1 form{
    background-color:#345587 ;
    border: #345587 solid 2px;
    
}
 .emp_profile_section1 .form-inline button{
    background-color: #345587;
    font-size: 10px;
    font-weight: bold;
}


 .emp_profile_image{
    border: #345587 solid 2px;
    min-height: 192px;
    
}

 .emp_profile_section2 .form-inline input {
    font-size: 10px;
color: #345587;
   
}
 .emp_profile_section2 .form-inline label{
    color: #345587;
    font-size: 10px;
    margin-right: 5px;
    font-weight: bold;
}
 .emp_profile_section2 .form-inline select{
    color: #345587;
    font-size: 10px;
}

.emp_profile_section2_tab .emp_profile_section2_tab_btn {
    background-color: #E6F7FF;
    color: #345587;
}
.emp_profile_section2_tab .emp_profile_section2_tab_btn.active {
    background-color: #345587;
    color: #fff;
}
.emp_profile_section2_header{
    background-color:#345587 ;
    color:#FC904F;
    font-weight: 100;
}
.emp_profile_tab2{
    background-color:#E6F7FF;
    display: none;
 }
 .emp_profile_tab2 .form-inline input {
    font-size: 10px;
color: #345587;
   
}
 .emp_profile_tab2 .form-inline label{
    color: #345587;
    font-size: 10px;
    margin-right: 5px;
    font-weight: bold;
}
 .emp_profile_tab2 .form-inline select{
    color: #345587;
    font-size: 10px;
}
.emp_profile_tab2 .form-inline button{
    background-color: #345587;
    font-size: 10px;
    font-weight: bold;
}
.emp_profile_tab2 p{
    font-size: 12px;
    color: #345587;
    font-weight: bold;
}
.file_section_body{
    padding: 18px;
    border: #345587 solid 2px;
}

/*LEAVE MANAGEMENT*/
.leave_mang_section{
    margin: 20px;
   
}
.leave_mang_header{
    background-color: #345587;
    padding: 5px;
}
.leave_mang_header h4{
    color: #EFE20A;
    padding-left: 10px;
}
.leave_mang_section .form-inline input {
    font-size: 10px;
color: #345587;
   
}
 .leave_mang_section .form-inline label{
    color: #345587;
    font-size: 10px;
    margin-right: 5px;
    font-weight: bold;
}
 .leave_mang_section .form-inline select{
    color: #345587;
    font-size: 10px;
}
.leave_mang_section .form-inline button{
    background-color: #345587;
    font-size: 10px;
    font-weight: bold;
}
.leave_mang_section .form-inline textarea{
    color: #345587;
    font-size: 12px;
  
}
.leave_mang_section_body{
    padding: 18px;
    border: #345587 solid 2px;

}
.leave_mang_section1_body table td , .leave_mang_section1_body table th{
    font-size: 10px;
}

/* DOCUMENT PAGE */

.doc_section{
    margin: 20px;
    padding: 18px;
    border: #345587 solid 2px;
    background-color: #fff;
}
.doc_section_btn{
    background-color:  #345587 ;
    color: #E6AD0F;
    font-weight: bold;
}
.doc_section_header{
    margin: 20px;
    padding: 5px;
    background-color:  #345587 ;
}
.doc_section_header span{
    color: #E6AD0F;
    font-weight: bold;
}
.doc_section_header input{
    font-size: 10px;
    font-weight: bold;
}
.doc_section ul li{
    list-style: none;
    margin: 10px;
}
.doc_section .active{
   background-color: #E6F7FF;
} 

/*training page*/
.training_section_1 input{
    font-size: 10px;
}

.training_section_2{
    margin: 20px;
}
.training_section_2_header{
    background-color: #345587;
    padding: 5px;
}
.training_section_2_header h4{
    color: #EFE20A;
    padding-left: 10px;
}
.training_section_2_body{
    padding: 18px;
    border: #345587 solid 2px;

}
.training_section_1 th{
    font-size: 12px;
}
.training_section_2 th{
    font-size: 12px;
}

/*training modal*/
.addtraining .modal-content{
    background-color: #f3f3f3;
}
.addtraining .modal-header{
    background-color: #345587;
    color: #fff;
}

.addtraining .modal-header button{
    color: #fff;
}
.addtraining .modal-body h6{
    color: #345587;
    font-weight: bold;
}

.addtraining .modal-footer .btn{
    color: #fff;
    font-weight: bold;
    background-color: #345587;
}

.addtraining label{
    font-size: 12px;
    font-weight: bold;
    color:#345587 ;
    margin-right: 12px;
}
.addtraining input{
    font-size: 12px;
}
.addtraining select{
    font-size: 12px;
}
/*CALENDAR PAGE*/
.calendar_section1{
    padding: 5px;
    border: #A1A1A1 solid 2px;
    margin: 20px;
    background-color: #fff;
}
.calendar_section1 h4{
    color: #FCC62F;
    font-weight: bold;
}
.calendar_section1 h3{
    color: #345587;
    
}
.calendar_section1 p{
    font-style: italic;
    color: #626262;
}
.calendar_section2_header{
    background-color: #345587;
    padding: 5px;
}
.calendar_section2_header h4{
    color: #EFE20A;
    padding-left: 10px;
}
.calendar_section2{
    margin: 20px;
    background-color: #fff;
}
.calendar_section2_body{
    padding: 5px;
    border: #345587 solid 2px;
}